.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;


}

body {
  background-color: #ffdf0c;
}

h2 {
  margin: 30px;
  font-family: cursive;
  text-shadow: 5px 0 #ed3838;
  font-size: 5rem;
  color: #090606;
}

p {
  font-size: 2rem;
  color: #000000;
  font-family: cursive;
  background-color: #4197ff;
  border-radius: 15px;

}

img {
  width: 80%;
}

footer {
  margin-top: 2%;
  color: #070505;
  text-align: center;
  
  font-family:cursive
}

button {
  text-align: center;
  margin-top: 5%;
  background-color: green;
  font-family:cursive;
  font-size: large;
  border-radius: 5em;
  width: 150px;
  height: 50px;
}

h6 {
  margin-top: 5%;
  text-align: center;
  font-family:cursive;
}